<!--The content below is only a placeholder and can be replaced.-->

<h2>Login form</h2>

<div class="form-wrap">
  <form>
  Username:<br />
  
  <input type="text" id="text1" name="Username" placeholder= "Type a Username" 
  style="padding:5px; border-radius:5px; background-color:red; width: 50%;"/><br>
  Email:<br />
  <input type="Email" name="Email" placeholder="Email Address" 
  style="padding:5px; border-radius:5px; background-color:red;width: 50%; " /><br>
  Password:<br />
  <input type="password" name="Password" placeholder="Type Password" 
  style="padding:5px; border-radius:5px; background-color:red; width: 50%;" /><br><br>
  <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Login" 
  style="padding:5px; border-radius:5px; background-color:red; width: 19%;     margin-left: 180px;" >
  </form>
</div>

<script src="app.component.js"></script>